$wild-color: #fff;
$light-color: #fffbfb;
$blue-dark: #3194ad;
$turquoise:#41c9a1;
$blue-medium: #3a99b2;
$banner-title: Arial, Helvetica, sans-serif;
@font-face {
    font-family: "GhotamBold";
    src: url("../font/GothamBold.ttf"),
   }
@font-face {
    font-family: "GhotamRegular";
    src: url("../font/GothamMedium.ttf"),
   }
@font-face {
    font-family: "GhotamBook";
    src: url("../font/GothamBook.ttf"),
   }