
<h1>Bonjour ! Finalisez votre inscription </h1>

<p>
    Merci de confirmer votre adresse mail et finaliser ainsi votre inscription en cliquant sur ce lien: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmation</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cordialement
</p>